@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* adjust typography defaults */
html {
    font-family: 'Roboto Mono',
        monospace;
    background-color: white;
}

body {
    margin: 0;

}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    padding-left: 3em;
}

section {
    display: block;
}

/* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
}

/* banner styling */
.banner {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: auto;
    margin-bottom: -5px;

    z-index: 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.logo {
    display: block;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    height: 100px;
}

.logo2 {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .logo2 {
        display: block;
        position: absolute;
        margin-top: 30px;
        margin-left: 30px;
        width: 100px;
        height: 100px;
    }
}

/* end banner styling */

/* nav bar styling */

.nav_bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: #F4F4F4;

    padding-top: 1vh;
    padding-bottom: 1vh;

    text-align: center;
    letter-spacing: 0.065vw;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 1.75em;
    color: #5F3D3F;

    z-index: 0;
}

.nav_sec {
    display: inline-block;
    padding: 0px 2vw;

    color: #5F3D3F;

    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.nav_sec:hover {
    color: #bbb0b1;

    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#dropdown:hover {
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.dropdown {
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
}

.dropdown-content {
    top: 50px;
    display: none;
    position: absolute;

    background-color: #FDDCE9;
    opacity: 0.95;

    width: 100%;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 2vw 2vw;
}

.dropdown-content a {
    padding: 2vh 1vw;

    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .nav_sec {
    padding: 0;
    margin: 0;

    width: 100%;
}

#nav-menu {
    display: none;
}

.menubars {
    display: none;

}

@media only screen and (max-width: 1000px) {
    .nav_bar {
        display: none;
    }

    .nav-menu-items {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 3vh;
    }

    #hiddennavbar {
        position: fixed;
        display: block;
        top: 3vh;
        right: 3vh;
        height: 50px;
        width: auto;
    }

    .menubars {
        display: block;
        margin-top: 0;
        font-size: 2rem;
        color: #5F3D3F;

    }

    #navbar-toggle {
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;

    }

    .menubarshidden {
        font-size: 2rem;
        color: #5F3D3F;

    }

    #nav-menu {
        background-color: #F4F4F4;
        width: 300px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        margin-left: 68%;
        top: 0;
        right: -300px;
        transition: 850ms;
    }


    .nav-section {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 10px;
        padding-right: 50px;

        color: #5F3D3F;
    }

    .nav-section a {
        text-decoration: none;
        color: #5F3D3F;
        font-size: 1.5rem;
        padding-top: 30px;
        margin-left: 0px;
    }

    #nav-menu.active {
        position: fixed;
        right: 0;
        transition: 350ms;
    }

    .nav-icon {
        padding-right: 1rem;
        color: #5F3D3F;
    }

    .nav_dropd {
        padding-left: 1rem;
        color: #5F3D3F;
    }


    .navstrawbeari {
        position: absolute;
        bottom: 0;
        margin-right: 3vw;
    }
}

/* start hidden nav bar styling */



/* end nav bar styling */



/* footer styling */

.footer {
    display: block;

    background-color: #FDDCE9;
    padding-top: 1vh;
    padding-bottom: 1vh;

    text-align: center;

    font-size: 1.25em;
    color: #5F3D3F
}

.footer span {
    color: white;
}

.top {
    display: block;
    padding-bottom: 7.5px;

    letter-spacing: 2.5px;
}

.bottom {
    display: block;
}

@-webkit-keyframes o-pulse-ity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes o-pulse-ity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.footer img {
    vertical-align: center;

    padding: 0vh 7.5px;

    min-height: 30px;
    max-height: 30px;
}

.footer a:hover {
    animation-name: o-pulse-ity;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* end footer styling */

/* about me styling */

.body_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.container {
    padding: 0 5%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.me {
    border-radius: 30px;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1251px) {
    .me {
        max-width: 600px;
    }
}

@media only screen and (min-width: 700px) {
    .me {
        max-width: 500px;
    }
}

@media only screen and (min-width: 0px) {
    .me {
        max-width: 300px;
    }
}

.questions-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--end about me styling--*/

/*-- start gif styling--*/

@media only screen and (max-width: 1000px) {

    .gifcontainer img {
        display: none;
    }
}

.gifcontainer {
    height: 350px;
    width: 550px;
    display: block;
    position: fixed;
    bottom: 0;
    right: -460px;
    transition: transform 1.5s;
}

.gifcontainer img {
    width: 100%;
    height: auto;
}

.gifcontainer.show-panda {
    transform: translate(-80%);
    transition: transform 1.5s;
}

.strawberrygif {
    left: 10px;
    height: 55px;
    position: absolute;
    bottom: 145px;
    z-index: 2;
}

.strawberrygif img {
    width: auto;
    height: 100%;
}