@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

/*--adjust typography defaults --*/
html {
    background-color: #FFEFF8;
    color: #5F3D3F;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

section {
    display: block;
}

.divider {
    background-color: #EDEDED;
    height: 13px;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

/*--images and videos max out at full width--*/
img,
video {
    height: auto;
    max-width: 100%;
}

/*--banner styling--*/
.banner {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: auto;
    margin-bottom: -5px;

    z-index: 0;
}

.banner img {
    width: 100%;
    height: auto;
}

.logo {
    position: relative;
    display: inline;
    top: 10px;
    left: 10px;
    height: 50px;
    width: auto;
}

.mobileLogo {
    display: none
}

@media only screen and (max-width:800px) {
    .logo {
        display: none
    }

    .mobileLogo {
        position: relative;
        display: inline;
        top: 10px;
        left: 10px;
        height: 50px;
        width: auto;
    }
}

/*--end banner styling--*/

#navbar-toggle {
    position: fixed;
    display: inline;
    text-align: left;
}

/*--begin side nav bar styling--*/

#nav-menu {
    background-color: #F4F4F4;
    width: 400px;
    height: 100vh;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    left: -400px;
    transition: 350ms;
}

.menubars {

    display: inline-block;
    font-size: 3rem;
    color: #5F3D3F;

}

#hiddennavbar {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 30px;
    height: auto;
    width: auto;
}

#nav-menu.active {
    position: fixed;
    left: 0;
    transition: 350ms;
}

#navbar-toggle {
    position: relative;
    display: inline-block;
    top: 23px;
    left: 0;
    text-align: left;
}

.menubarshidden {
    display: inline-block;
    font-size: 3rem;
    color: #5F3D3F;

}

.navstrawbeari {
    display: inline-block;
    position: absolute;
    width: 200px;
    bottom: 50px;
}

.nav-icon {
    padding-right: 1rem;
    color: #5F3D3F;
}


@media only screen and (max-width: 1000px) {

    .nav-menu-items {
        width: 250px;
    }

    .menubars {
        position: relative;
        text-align: left;
    }


    .menubarshidden {
        color: #5F3D3F;
        right: 0;
        justify-content: right;
    }

    #nav-menu {
        background-color: #F4F4F4;
        width: 300px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 100vw;
        /*transition: 850ms;*/
    }


    .nav-section {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 10px;
        padding-right: 50px;

        color: #5F3D3F;
    }


    #nav-menu.active {
        position: fixed;
        right: 70vw;
        transition: 350ms;
    }

    .nav-icon {
        padding-right: 1rem;
        color: #5F3D3F;
    }

    .nav_dropd {
        padding-left: 1rem;
        color: #5F3D3F;
    }


    .navstrawbeari {
        position: absolute;
        bottom: 50px;
        margin-right: 3vw;
    }
}

/*--start side nav bar styling--*/


/*--footer styling--*/

.footer {
    display: block;

    background-color: #FFE8F5;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    text-align: center;

    font-size: 1.25em;
    color: #5F3D3F;
}

.footer span {
    color: #5F3D3F;
}

.top {
    display: block;
    padding-bottom: 7.5px;

    letter-spacing: 2.5px;
}

.bottom {
    display: block;
}

.footer img {
    vertical-align: center;

    padding: 0vh 7.5px;

    min-height: 30px;
    max-height: 30px;
}

/* end footer styling */

/* index page styling */

.beginning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

#homepage {
    height: 100%;
    position: relative;
    width: 100%;
}

#homepage-header {
    height: 100px;
    position: relative;
}

#homepage-icon {
    height: 60px;
    padding: 20px;
    position: absolute;
    width: 80px;
}

#homepage-header-navigation {
    position: absolute;
    right: 0;
}

.nav-menu-items {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 350px;
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 25px 50px 0;
    color: #5F3D3F;
}

.nav-section a {
    text-decoration: none;
    color: #5F3D3F;
    font-size: 20px;
    font-weight: 100;
    padding: 15px 30px;
}

.nav-section a:hover {
    color: #bbb0b1;
}

#homepage-intro {
    padding: 150px 200px 100px;
    font-size: 40px;
    font-weight: 200;
    white-space: nowrap;
}

#homepage-intro-name {
    font-weight: 500;
}

#homepage-intro-next-line {
    font-size: 35px;
}

#home-page-clouds-and-strawbeari {
    background: url("assets/home-page-clouds-and-strawbeari.png") repeat-x;
    animation: slide 15s linear infinite;
    background-size: 4000px;
    height: 500px;
    width: 14000px;
}

#home-page-clouds-and-strawbeari-wrapper {
    overflow: hidden;
    height: 450px;
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-1000px); /* The image width */
    }
  }


/* about me page styling */

.body_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    background-color: #FDFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    width: 50%;
    box-shadow: -10px 10px 20px #A6A6A6;
    opacity: 0;
    animation: textFadeIn 0.5s linear forwards;
    animation-delay: 0.3s;

}

@keyframes textFadeIn {
    0% {
        opacity: 0.1;
        transform: translatey(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#me {
    position: relative;
    border-radius: 30px;
    margin-right: -50px;
    height: auto;
    width: 80%;
    box-shadow: -10px 10px 10px #A6A6A6;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.introduction-section p {
    margin-top: -20px;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info {
    background-color: #EDEDED;
    color: #5F3D3F;
    border: 0px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    font-size: 1.5rem;
    box-shadow: -5px 5px 10px #A6A6A6;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
    }

    #me {
        margin-right: 0;
    }

    .introduction-section {
        padding: 20px;
    }

    .introduction-section p {
        font-size: 1.5rem;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #welcomeStrawbeari {
        width: 200px;
    }

}

/*--end about me page styling--*/

/*--start gif styling--*/

@media only screen and (max-width: 1000px) {

    .gifcontainer img {
        display: none;
    }
}

.gifcontainer {
    height: 350px;
    width: 550px;
    display: block;
    position: fixed;
    bottom: 0;
    right: -460px;
    transition: transform 1.5s;
}

.gifcontainer img {
    width: 100%;
    height: auto;
}

.gifcontainer.show-panda {
    transform: translate(-80%);
    transition: transform 1.5s;
}

.strawberrygif {
    left: 10px;
    height: 55px;
    position: absolute;
    bottom: 145px;
    z-index: 2;
}

.strawberrygif img {
    width: auto;
    height: 100%;
}

/*--end gif styling--*/
